.gradient-bg {
    background: linear-gradient(224deg, #007db7, #9600b7, #d71840);
    background-size: 600% 600%;

    -webkit-animation: animatebg 8s ease infinite;
    -moz-animation: animatebg 8s ease infinite;
    animation: animatebg 8s ease infinite;
}

@-webkit-keyframes animatebg {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@-moz-keyframes animatebg {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@keyframes animatebg {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

.button-gradient-bg {
    background: linear-gradient(224deg, #007db7, #9600b7, #d71840);
    background-size: 600% 600%;

    -webkit-animation: animatebg 3s ease infinite;
    -moz-animation: animatebg 3s ease infinite;
    animation: animatebg 3s ease infinite;
}

@-webkit-keyframes animatebg {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@-moz-keyframes animatebg {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@keyframes animatebg {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

.hover {
    cursor: pointer !important;
}

.hover:hover {
    cursor: pointer !important;
}

.badge {
    font-size: 13px !important;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 99998;
    backdrop-filter: blur(2px);
    background-color: rgb(0, 0, 0, 0.1);
    transition: 5s ease;
}

.modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 20px 15px 20px 0px rgb(255 255 255 / 20%);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    overflow-y: auto;
    overflow-x: hidden !important;
}

.modal-hapus {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    width: 350px;
    opacity: 100;
    border-radius: 10px;
    transition: top 0.2s, opacity 0.5s;
}

.modal-hapus-in {
    top: 0;
    opacity: 0;
}

.modal-hapus-out {
    top: 10%;
    opacity: 0;
    /* transition: top 5s; */
}